<div id="searchbarwrapper">
  <h1>
    Search
  </h2>
  <div class="addmangaform">
    <%= form_tag(action: 'list') do %>
      <%= text_field_tag("title") %>
  
      <br> 
      <br> 
  
      <%= submit_tag("Search for manga", class: "enterbutton") %>
    <% end %>
  </div>
</div>
