<script type="text/javascript">
$(function() {
	$('a').lightBox(); // Select all links in the page
});
</script>

<div id="gallery">
  <% 
    require 'open-uri' 
    require 'zip/zip'
    filename = "#{@manga}-#{@chapter}.zip"
    dir = Dir.mktmpdir("#{@manga}-#{@chapter}", "public/")
    dirname = dir.match(/#{@manga}-#{@chapter}.*/)[0]
    puts dir
      open("#{dir}/#{filename}", "wb") do |file| 
	file << open("#{@manga_url}").read 
      end
      unzip_file("#{dir}/#{filename}", "#{dir}")
    images = `ls "#{dir}" | grep jpg`.split(/\n/)
    %>
    <% images.each_with_index { |imagepath,index| %>
      <div id="manga<%= index %>" class="mangaimage">
	<img src="<%= "/#{dirname}/#{imagepath}" %>">
      </div>
    <% } %>

</div>
