/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


/* line 1, ../../app/assets/stylesheets/_header.css.scss */
#header {
  padding: 2%;
  font-size: 1.2em;
  overflow: hidden;
}

/* line 7, ../../app/assets/stylesheets/_header.css.scss */
#leftheader {
  width: 20%;
  float: left;
}

/* line 12, ../../app/assets/stylesheets/_header.css.scss */
#leftheader a {
  text-decoration: none;
  color: black;
}

/* line 17, ../../app/assets/stylesheets/_header.css.scss */
#rightheader {
  width: 20%;
  float: right;
  text-align: center;
}
/* line 5, ../../app/assets/stylesheets/home.css.scss */
* {
  font-family: 'Noto Serif';
}

/* line 9, ../../app/assets/stylesheets/home.css.scss */
#mainwrapper {
  width: 80%;
  margin: auto;
  margin-top: 10%;
}

/* line 15, ../../app/assets/stylesheets/home.css.scss */
#mainwrapper h1 {
  font-family: 'Noto Serif';
  text-align: center;
}

/* line 20, ../../app/assets/stylesheets/home.css.scss */
.addmangaform {
  width: 50%;
  margin: auto;
  padding: 4%;
}

/* line 26, ../../app/assets/stylesheets/home.css.scss */
.homeaddmangaform {
  width: 50%;
  margin: auto;
  padding: 4%;
  margin-top: -10%;
}

/* line 33, ../../app/assets/stylesheets/home.css.scss */
.enterbutton {
  width: 50%;
}

/* line 37, ../../app/assets/stylesheets/home.css.scss */
.homeenterbutton {
  width: 50%;
  margin-left: 25%;
}

/* line 42, ../../app/assets/stylesheets/home.css.scss */
#moreinformation {
  font-size: 1.3em;
  text-align: center;
  height: 500px;
}

/* line 48, ../../app/assets/stylesheets/home.css.scss */
#moreinformation a {
  text-decoration: none;
  color: black;
}

/* line 53, ../../app/assets/stylesheets/home.css.scss */
#menunav {
  padding: 2% 2% 0 2%;
  height: auto;
  text-align: justify;
  text-justify: distribute-all-lines;
}

/* line 60, ../../app/assets/stylesheets/home.css.scss */
.menuitem {
  width: auto;
  display: inline-block;
}

/* line 65, ../../app/assets/stylesheets/home.css.scss */
#infonav a {
  text-decoration: none;
  color: black;
}

/* line 70, ../../app/assets/stylesheets/home.css.scss */
.stretcher {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0;
}

/* line 77, ../../app/assets/stylesheets/home.css.scss */
.page {
  height: 2000px;
}

/* line 81, ../../app/assets/stylesheets/home.css.scss */
.page h2 {
  padding-left: 2%;
  font-size: 3em;
}

/* line 86, ../../app/assets/stylesheets/home.css.scss */
.page h4 {
  padding-left: 5%;
  font-size: 1.2em;
  line-height: 2em;
}
/* line 5, ../../app/assets/stylesheets/mangas.css.scss */
#searchbarwrapper {
  width: 50%;
  margin: 10% auto;
  text-align: center;
  font-size: 1.3em;
}

/* line 12, ../../app/assets/stylesheets/mangas.css.scss */
#newchapterswrapper {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

/* line 18, ../../app/assets/stylesheets/mangas.css.scss */
.chapternumber {
  width: 2%;
  padding: 4%;
  float: left;
}

/* line 24, ../../app/assets/stylesheets/mangas.css.scss */
.markasread {
  width: 32%;
  padding: 4%;
  float: left;
}

/* line 30, ../../app/assets/stylesheets/mangas.css.scss */
.readonline {
  width: 17%;
  padding: 4%;
  float: left;
}

/* line 36, ../../app/assets/stylesheets/mangas.css.scss */
.download {
  width: 17%;
  padding: 4%;
  float: left;
}

/* line 42, ../../app/assets/stylesheets/mangas.css.scss */
.modal {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

/* line 58, ../../app/assets/stylesheets/mangas.css.scss */
.modal:target {
  opacity: 1;
  pointer-events: auto;
}

/* line 63, ../../app/assets/stylesheets/mangas.css.scss */
.modal > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: white;
}

/* line 72, ../../app/assets/stylesheets/mangas.css.scss */
.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

/* line 91, ../../app/assets/stylesheets/mangas.css.scss */
.close:hover {
  background: #00d9ff;
}

/* line 93, ../../app/assets/stylesheets/mangas.css.scss */
.mangaimage {
  padding: 2%;
}

/* line 97, ../../app/assets/stylesheets/mangas.css.scss */
.mangaimage img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 5, ../../app/assets/stylesheets/sessions.css.scss */
#signinform {
  padding: 4%;
}

/* line 9, ../../app/assets/stylesheets/sessions.css.scss */
#signinform label {
  font-size: 1.3em;
}

/* line 13, ../../app/assets/stylesheets/sessions.css.scss */
#signinform input {
  font-size: 1.3em;
}
/* line 5, ../../app/assets/stylesheets/users.css.scss */
.mangalist {
  text-align: center;
}

/* line 9, ../../app/assets/stylesheets/users.css.scss */
.title {
  float: left;
  width: 40%;
}

/* line 14, ../../app/assets/stylesheets/users.css.scss */
.newchapters {
  float: right;
  width: 30%;
}

/* line 19, ../../app/assets/stylesheets/users.css.scss */
.chapter {
  overflow: hidden;
}

/* line 23, ../../app/assets/stylesheets/users.css.scss */
#signupform {
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 4%;
}

/* line 30, ../../app/assets/stylesheets/users.css.scss */
#signupform label {
  font-size: 1.3em;
}

/* line 34, ../../app/assets/stylesheets/users.css.scss */
#signupform input {
  font-size: 1.3em;
}

/* line 38, ../../app/assets/stylesheets/users.css.scss */
#addmanga {
  width: 50%;
  margin: auto;
  font-size: 1.3em;
  text-align: center;
}
