<div id="mainwrapper">
  <h1>Byakko</h1>
  <div class="homeaddmangaform">
    <%= form_tag(controller: "mangas", action: 'list') do %>
      <%= text_field_tag("title") %>
      <br>
      <br>
      <%= submit_tag("Search for manga", class: "homeenterbutton") %>
    <% end %>
  </div>
</div>
