#header {
  padding:2%;
  font-size: 1.2em;
  overflow:hidden;
}

#leftheader {
  width: 20%;
  float:left;
}

#leftheader a {
  text-decoration:none;
  color:black;
}

#rightheader {
  width: 20%;
  float: right;
  text-align: center;
}
