// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  font-family: 'Noto Serif';
}

#mainwrapper {
  width: 80%;
  margin:auto;
  margin-top: 10%;
}

#mainwrapper h1 {
  font-family: 'Noto Serif';
  text-align: center;
  font-size:6em;
}

.addmangaform {
  width:50%;
  margin:auto;
  padding:4%;
}

#title {
  width: 100%;
  margin:auto;
  font-size:1.3em;
}
.homeaddmangaform {
  width:50%;
  margin:auto;
  padding:4%;
  margin-top: -10%;
}

.enterbutton {
  width: 50%;
}

.homeenterbutton {
  width: 50%;
  margin-left: 25%;
}

#moreinformation {
  font-size:1.3em;
  text-align:center;
  height: 500px;
}

#moreinformation a {
  text-decoration: none;
  color:black;
}

#menunav {
  padding: 2% 2% 0 2%;
  height: auto;
  text-align: justify;
  text-justify: distribute-all-lines;
}

.menuitem {
  width: auto;
  display: inline-block;
}

#infonav a {
  text-decoration:none;
  color:black;
}

.stretcher {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

#page4 {
  height: 2000px;
}

.page h2 {
  padding-left: 2%;
  font-size:3em;
}

.page h4 {
  padding-left: 5%;
  font-size:1.2em;
  line-height:2em;
}

.page img {
  width: 100%;
  margin:auto;
}

#page2 {
  height: 8000px
}
