// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#signinform {
  padding: 4%;
}

#signinform label {
  font-size: 1.3em;
}

#signinform input { 
  font-size: 1.3em;
}

