// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mangalist {
  text-align: center;
}

.title { 
  float: left;
  width: 40%;
}

.newchapters {
  float:right;
  width:30%;
}

.chapter {
  overflow:hidden;
}

#signupform {
  width: 50%;
  margin:auto;
  text-align: center;
  padding: 4%;
}

#signupform label {
  font-size: 1.3em;
}

#signupform input {
  font-size: 1.3em;
}

#addmanga {
  width: 50%;
  margin: auto;
  font-size:1.3em;
  text-align: center;
}

#accountinfo {
  width: 50%;
  margin: auto;
  font-size:1.3em;
  text-align: center;
}
